#s-74f02cba-2c8e-4f64-9505-214c1b475f9b > #backgroundBox {
  position: absolute;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b > #alignmentBox {
  position: relative;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph span {
  color: #006D48;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #006D48;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_14 {
  position: absolute;
  width: 620.0000000000001px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_16 {
  position: absolute;
  width: 403.484375px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_20 {
  position: absolute;
  width: 243.99347656250052px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_21 {
  position: absolute;
  width: 620.0000000000001px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_22 {
  position: absolute;
  width: 341.4874999999997px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_22 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_22 span {
  color: #247A25;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #247A25;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_23 {
  position: absolute;
  width: 220.6445312500001px;
  min-height: 26.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_23 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_23 span {
  color: #247A25;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #247A25;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input_5 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input_6 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input_7 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_32 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_32 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_32 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_32 span#rtr-s-Paragraph_32_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_33 {
  position: absolute;
  width: 119.90625px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_33 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_33 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_33 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_33 span#rtr-s-Paragraph_33_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_34 {
  position: absolute;
  width: 151.9999999999999px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_34 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_35 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_35 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_35 span {
  color: #155516;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #155516;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle {
  position: absolute;
  width: 207.87285156250027px;
  min-height: 128.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: radial-gradient(61.81663407901269% 100.0% at 50.0% 50.0%, #FEE94E 0.0%, #CCA9A9 100.0%);
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_18 {
  position: absolute;
  width: 207.8728515625004px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_37 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_37 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_37 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_37 span {
  color: #155516;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: #155516;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_30 {
  position: absolute;
  width: 94.01953124999991px;
  min-height: 25.999999999999716px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_30 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_30 span {
  color: #006D48;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: #006D48;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input input::-webkit-input-placeholder {
  color: #000000;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input input::-moz-placeholder {
  color: #000000;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input input:-moz-placeholder {
  color: #000000;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input input:-ms-input-placeholder {
  color: #000000;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input {
  position: absolute;
  width: 928.0000000000001px;
  height: 71.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input .valign {
  vertical-align: middle;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input > .backgroundLayer {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input > .backgroundLayer {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Button {
  position: absolute;
  width: 73.58218232044192px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Button > .backgroundLayer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Button > .backgroundLayer > .colorLayer {
  background-color: #B79124;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Button > .backgroundLayer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_4 {
  position: absolute;
  width: 1011.9999999999997px;
  min-height: 145.3333333333333px;
  opacity: 0.85;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #006D48;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_1 {
  position: absolute;
  width: 340.20618556701027px;
  height: 110.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_31 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_31 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_31 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_31 span#rtr-s-Paragraph_31_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_42 {
  position: absolute;
  width: 312.01953125px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_42 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_42 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_42 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_42 span#rtr-s-Paragraph_42_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_5 {
  position: absolute;
  width: 69.0px;
  height: 61.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_28 {
  position: absolute;
  width: 213.9999999999999px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_28 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_28 span {
  color: #006D48;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #006D48;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_29 {
  position: absolute;
  width: 213.9999999999999px;
  min-height: 26.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_29 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_29 span {
  color: #006D48;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #006D48;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Category > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Category {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Category > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Category > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Category .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Category_1 {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Category_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Category_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Input_8 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_44 {
  position: absolute;
  width: 180.00000000000006px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_44 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_44 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_44 span#rtr-s-Paragraph_44_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_5 {
  position: absolute;
  width: 1011.9999999999995px;
  min-height: 23.333333333333258px;
  opacity: 0.85;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #006D48;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_45 {
  position: absolute;
  width: 403.484375px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_45 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_45 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_45 span#rtr-s-Paragraph_45_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_46 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_46 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_46 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_46 span#rtr-s-Paragraph_46_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_47 {
  position: absolute;
  width: 243.99347656250052px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_47 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_47 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_47 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_47 span#rtr-s-Paragraph_47_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_48 {
  position: absolute;
  width: 620.0000000000001px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_48 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_48 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_48 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_48 span#rtr-s-Paragraph_48_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_49 {
  position: absolute;
  width: 94.90136718749989px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_49 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_49 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_49 span {
  color: #247A25;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_49 span#rtr-s-Paragraph_49_0 {
  color: #247A25;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_2 {
  position: absolute;
  width: 275.1410437235543px;
  height: 212.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_24 {
  position: absolute;
  width: 207.8728515625004px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_24 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_1 {
  position: absolute;
  width: 207.87285156250027px;
  min-height: 128.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: radial-gradient(61.81663407901269% 100.0% at 50.0% 50.0%, #79FE4E 0.0%, #223982 100.0%);
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_8 {
  position: absolute;
  width: 81.90476190476195px;
  height: 21.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_4 {
  position: absolute;
  width: 98.72020526960789px;
  height: 27.43722326294278px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_6 {
  position: absolute;
  width: 98.72020526960789px;
  height: 27.43722326294278px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_9 {
  position: absolute;
  width: 203.64496682787677px;
  height: 182.0565604947044px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_10 {
  position: absolute;
  width: 102.00000000000007px;
  height: 100.87541345093723px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_11 {
  position: absolute;
  width: 77.63636363636357px;
  height: 41.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_3 {
  position: absolute;
  width: 211.73554532568812px;
  height: 182.29107105383468px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_36 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_36 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_36 span {
  color: #155516;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #155516;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_25 {
  position: absolute;
  width: 245.71306268601177px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_25 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_12 {
  position: absolute;
  width: 81.90476190476195px;
  height: 21.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_7 {
  position: absolute;
  width: 254.06820782238924px;
  height: 156.80772201538082px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_26 {
  position: absolute;
  width: 245.71306268601177px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_26 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b #s-Image_13 {
  position: absolute;
  width: 81.90476190476195px;
  height: 21.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-74f02cba-2c8e-4f64-9505-214c1b475f9b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
